# Bibliotecas esenciales para Streamlit y la lógica de la aplicación
streamlit
python-docx
requests
beautifulsoup4
matplotlib


# Biblioteca oficial para la API de Google Gemini
google-genai 